.MainPage{
    display: flex;
}

body{
    top: 0;
    contain: content;
}

.MainPage{
    display: flex;
    min-height: 800px;
    max-height: auto;
}

.MainPageSection1{
    width: 40%;
}

.MainPageSection1 img{
    width: 80%;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}


.MainPageSection2{
    display: block;
    width: 60%;
    align-items: center;
    z-index: 1;
}

.MainPageSection2Div1{
    width: 100%;
    display: flex;
}


.MainPageSection2Div1img{
    margin-top: 2%;
    align-items: center;
}

.MainPageSection2Div1img img{
    width: 40%;
    margin-left: 40%;
    margin-right: 10%;
}

.MainPageSection2Div2{
    margin-top: 2%;
    width: 100%;
    display: flex;
}

.MainPageSection2Div2 img{
    width: 10%;
}

.MainPageSection2Div2 div{
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: #d3e1d6;
    width: 85%;
    align-content: center;
}

.MainPageSection2Div2 div div{
    border: dashed black;
    width: 98%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    height: 85%;
    color: #84a877;
    font-family:sans-serif;
    font-size: auto;
    text-align: center;
    text-transform:uppercase;
}

/*
.servicos section .img{
    width: 20px;
    height: 20px;
}


.Imagen{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: auto;
    text-align: center;
    align-content: center;
}

.Imagen img{
    max-width: 600px;
}

.servicos{
    z-index: 1;
    display: block;
    width: 60%;
}

.title{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: auto;
    text-align: center;
    width: 90%; 
    align-content: center;
}

.title img{
    width: 50%;
}

.textos{
    padding: 10px;
    display: flex;

}

.textos img{
    width: 10%;
}

.textos div{
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: #d3e1d6;
    width: 85%;
    align-content: center;
}

.textos div div{
    border: dashed black;
    width: 98%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    height: 85%;
}*/

